Repository AttorneyOnline/AO2-Client, pull requests merged in 2020-08, with the labels that each got.

#259 Feature/iclog rewrite
  include/aoapplication.h
  include/aooptionsdialog.h
  include/chatlogpiece.h
  include/courtroom.h
  src/aooptionsdialog.cpp
  src/chatlogpiece.cpp
  src/courtroom.cpp
  src/text_file_functions.cpp
Labels: bug, enhancement, ui

#276 Allow non-png static image lookups
  src/aocharmovie.cpp
Labels: engine/assets, enhancement

#278 Cache QMovie objects to reduce lag
  src/aomovie.cpp
  src/aoscene.cpp
Labels: engine/assets

#274 Fix: Qt failing to paint a darker button if source image is indexed
  src/aoemotebutton.cpp
Labels: bug
