Repository AttorneyOnline/AO2-Client, pull requests merged in 2020-12, with the labels that each got.

#355 Enable support for up to 6 SFX channels
  include/aosfxplayer.h
  src/aosfxplayer.cpp
Labels: engine/audio, enhancement

#282 Fix blankposting not respecting character ID's in the equation
  src/courtroom.cpp
Labels: bug

#351 Search for libraries inside a dedicated "lib" folder (and notes on distributing future releases)
  Attorney_Online.pro
  src/main.cpp
Labels: enhancement, logistics
