Repository AttorneyOnline/AO2-Client, pull requests merged in 2020-07, with the labels that each got.

#166 Add a setting to turn on/off custom character-defined chatboxes
  include/aoapplication.h
  include/aooptionsdialog.h
  src/aooptionsdialog.cpp
  src/courtroom.cpp
  src/text_file_functions.cpp
Labels: enhancement, ui

#173 Fix sounds/blips folder not properly seeking for the default male sfx
  src/text_file_functions.cpp
Labels: bug, engine/sound

#164 Music loop fix
  include/aomusicplayer.h
  src/aomusicplayer.cpp
Labels: bug, engine/sound

#175 More sensible music loop packet configuration
  src/courtroom.cpp
Labels: engine/sound

#178 Fix color HTML not being properly parsed
  src/courtroom.cpp
Labels: bug, engine/sound

#181 Reload Theme should properly update background scaling according to viewport
  src/courtroom.cpp
Labels: bug, engine/compositing

#186 Make 'FL' packet reset settings to default and take the new settings in
  src/packet_distribution.cpp
Labels: enhancement

#198 Fix max colors being one int off
  src/courtroom.cpp
  src/lobby.cpp
Labels: bug, ui

#213 Fix evidence page count
  src/evidence.cpp
Labels: bug, ui

#210 Fix chatlog instances where char_id 0 is ignored
  src/courtroom.cpp
Labels: bug, ui

#215 Fix #193
  src/courtroom.cpp
Labels: bug

#207 Fix for #190 "Invalid order of asset loading for themes and misc/chatboxes"
  src/text_file_functions.cpp
Labels: bug

#205 Changes to music list
  include/courtroom.h
  src/courtroom.cpp
Labels: enhancement

#147 Fix showname placeholder text and shout button after changing characters
  src/charselect.cpp
  src/courtroom.cpp
Labels: ui

#162 Readd support for multiple custom interjections via context menu
  include/courtroom.h
  src/courtroom.cpp
Labels: enhancement

#201 Add darker button generator
  include/aoemotebutton.h
  src/aoemotebutton.cpp
Labels: enhancement

#211 Make Spectator Character Select Screen button actually function
  src/charselect.cpp
  src/courtroom.cpp
Labels: bug, enhancement, ui

#209 courtroom_fonts.ini showname/message support for misc/ system
  include/courtroom.h
  src/courtroom.cpp
Labels: enhancement, ui

#212 Fix reload theme breaking BG sizing (needs testing with animated BGs)
  src/aoscene.cpp
Labels: bug, engine/compositing

#200 Rightclick option to random play song
  include/courtroom.h
  src/courtroom.cpp
Labels: enhancement, ui

#203 Add option for automatic logging
  include/aoapplication.h
  include/aooptionsdialog.h
  src/aooptionsdialog.cpp
  src/courtroom.cpp
  src/packet_distribution.cpp
  src/text_file_functions.cpp
Labels: enhancement
