Repository AttorneyOnline/AO2-Client, pull requests merged in 2021-02, with the labels that each got.

#453 [ULTRA TOP PRIORITY] Fix backwards compatibility with the stopmusic [!!!!!!!!!!!!!!!]
  include/aoapplication.h
  include/aooptionsdialog.h
  src/aooptionsdialog.cpp
  src/courtroom.cpp
  src/text_file_functions.cpp
Labels: bug, ui

#449 Fix blankposts never appearing in the IC log
  src/courtroom.cpp
Labels: bug, fix-available, regression, ui

#451 Fix expanded_desk_mods (2-5) being nonfunctional, fix backgrounds appearing off to the left if they are less wide than the viewport
  include/aolayer.h
  src/aolayer.cpp
  src/courtroom.cpp
Labels: bug, engine/assets

#462 Fix WT/CE incorrectly using continuous playback (and disappearing)
  src/aolayer.cpp
Labels: bug, engine/assets

#464 Fix button images still having text appear over them
  src/aobutton.cpp
Labels: bug, ui

#465 Fix charselect elements not affected by theme reloading
  src/charselect.cpp
Labels: engine/assets, ui

#463 Update the Settings screen - reload theme, restore defaults
  include/aooptionsdialog.h
  include/courtroom.h
  src/aooptionsdialog.cpp
Labels: enhancement, ui

#466 Animated Themes. Subthemes. Custom default_theme. Overhaul asset paths. Fix a ton of asset resolution bugs.
  include/aoapplication.h
  include/aobutton.h
  include/aoimage.h
  include/aolayer.h
  include/aooptionsdialog.h
  include/courtroom.h
  src/aobutton.cpp
  src/aocharbutton.cpp
  src/aoemotebutton.cpp
  src/aoevidencebutton.cpp
  src/aoevidencedisplay.cpp
  src/aoimage.cpp
  src/aolayer.cpp
  src/aooptionsdialog.cpp
  src/aosfxplayer.cpp
  src/charselect.cpp
  src/courtroom.cpp
  src/lobby.cpp
  src/packet_distribution.cpp
  src/path_functions.cpp
  src/text_file_functions.cpp
Labels: bug, engine/assets, engine/timing, enhancement, ui

#475 Load fonts located in base/fonts
  src/main.cpp
Labels: engine/assets

#473 Fix change character lag, bg resizing and repos weirdness, inconsistent behavior, sticker setting etc.
  include/aoapplication.h
  include/aooptionsdialog.h
  include/courtroom.h
  include/lobby.h
  src/aolayer.cpp
  src/aooptionsdialog.cpp
  src/charselect.cpp
  src/courtroom.cpp
  src/evidence.cpp
  src/lobby.cpp
  src/packet_distribution.cpp
  src/text_file_functions.cpp
Labels: bug, ui
