Repository AttorneyOnline/AO2-Client, pull requests merged in 2021-04, with the labels that each got.

#520 🔴!!CRITICAL!! Fix EVIDENCE BEING COMPLETELY NON-FUNCTIONAL🔴
  src/packet_distribution.cpp
Labels: bug

#527 Fix ~~, ~> and <> breaking tick pos
  src/courtroom.cpp
Labels: bug

#528 Tons of bug fixes for IC chat parsing
  src/courtroom.cpp
Labels: bug, engine/timing, engine/viewport

#519 Better logs with OOC logging, [IC] and [OOC] tags
  src/courtroom.cpp
  src/packet_distribution.cpp
Labels: enhancement

#529 Narrator IC chat support
  src/courtroom.cpp
Labels: engine/timing, engine/viewport, enhancement

#530 Fix desynchronized logs incorrectly displaying IC "actions" (shouting, presenting evidence, etc.)
  include/courtroom.h
  src/courtroom.cpp
Labels: bug, engine/timing

#531 Fix demo playback max_wait -1 incorrect behavior when non-IC is processed
  src/demoserver.cpp
Labels: bug, engine/timing

#532 Automatically fix desynced demo files with issues pre-#496 PR
  include/demoserver.h
  src/demoserver.cpp
Labels: bug, enhancement

#533 Fix regression that won't allow us to give a direct base/ path to a char emote
  src/aolayer.cpp
  src/path_functions.cpp
Labels: enhancement

#534 Expand .css power by giving object names to all AO UI elements
  src/charselect.cpp
  src/courtroom.cpp
  src/emotes.cpp
  src/evidence.cpp
  src/lobby.cpp
  src/text_file_functions.cpp
Labels: enhancement

#541 Add setting for default scaling method
  include/aoapplication.h
  include/aooptionsdialog.h
  src/aooptionsdialog.cpp
  src/text_file_functions.cpp
Labels: enhancement

#526 Add a /reload command that quickly reloads the current demo
  include/demoserver.h
  src/demoserver.cpp
Labels: enhancement
