Repository AttorneyOnline/AO2-Client, pull requests merged in 2021-01, with the labels that each got.

#323 Define IC Log colors independent of character, define message colors according to character
  include/courtroom.h
  src/courtroom.cpp
  src/text_file_functions.cpp
Labels: enhancement

#383 Add a "nothing" option to sfx for a "play no sound" override
  src/courtroom.cpp
Labels: enhancement, ui

#352 Populate non-default background positions from design.ini, allow 2.8-style default positions
  src/courtroom.cpp
Labels: engine/assets, enhancement, ui

#387 Rename noninterrupting bonanza to consistent and short "immediate" instead
  include/courtroom.h
  include/datatypes.h
  src/courtroom.cpp
Labels: ui

#385 Desynchronize viewport from the IC chat log so that users have a smooth viewing experience as an option
  include/aoapplication.h
  include/aooptionsdialog.h
  include/courtroom.h
  resource/translations/ao_de.ts
  resource/translations/ao_en.ts
  resource/translations/ao_es.ts
  resource/translations/ao_jp.ts
  resource/translations/ao_pl.ts
  resource/translations/ao_pt.ts
  resource/translations/ao_ru.ts
  src/aooptionsdialog.cpp
  src/courtroom.cpp
  src/packet_distribution.cpp
  src/text_file_functions.cpp
Labels: engine/timing, engine/viewport, enhancement, help wanted, ui

#389 Overhaul sound lists to introduce aliases, rethink editing behavior
  include/courtroom.h
  src/courtroom.cpp
Labels: engine/audio, enhancement, ui

#398 Make chat rate limit a setting in the options
  include/aoapplication.h
  include/aooptionsdialog.h
  src/aooptionsdialog.cpp
  src/courtroom.cpp
  src/text_file_functions.cpp
Labels: enhancement, ui

#411 Stack default soundlist with character soundlist
  src/courtroom.cpp
Labels: enhancement, ui

#412 forgot to return after destroying the connection
  src/demoserver.cpp
Labels: bug, crash or hang

#400 Fix blankposts not showing up in logs
  include/courtroom.h
  src/courtroom.cpp
Labels: ui

#399 Add a new "char_list" QTreeWidget that allows for categorizing characters
  include/aoapplication.h
  include/courtroom.h
  src/charselect.cpp
  src/lobby.cpp
  src/text_file_functions.cpp
Labels: enhancement, ui

#302 Consolidate AOScene, AOMovie, and AOCharMovie into one class, add support for (c) animations, implement emote continuity, add scaling overrides to all layer types, allow for stretch-to-fill images, allow for additional effect configuration
  include/aoapplication.h
  include/aocharmovie.h
  include/aoevidencedisplay.h
  include/aolayer.h
  include/aomovie.h
  include/aoscene.h
  include/courtroom.h
  src/aocharmovie.cpp
  src/aoevidencedisplay.cpp
  src/aolayer.cpp
  src/aomovie.cpp
  src/aoscene.cpp
  src/courtroom.cpp
  src/path_functions.cpp
  src/text_file_functions.cpp
Labels: engine/viewport

#414 Implement sticker logic with animated image support
  include/aolayer.h
  include/courtroom.h
  src/aolayer.cpp
  src/courtroom.cpp
Labels: enhancement, ui

#384 Countdown Timer
  include/aoapplication.h
  include/aoclocklabel.h
  include/courtroom.h
  src/aoclocklabel.cpp
  src/aomusicplayer.cpp
  src/courtroom.cpp
  src/packet_distribution.cpp
Labels: engine/assets, engine/timing, engine/viewport, enhancement, help wanted, ui

#439 Fix some of the options dialog suckery
  src/aooptionsdialog.cpp
Labels: ui

#438 Text Crawl setting
  include/aoapplication.h
  include/aooptionsdialog.h
  include/courtroom.h
  src/aooptionsdialog.cpp
  src/courtroom.cpp
  src/text_file_functions.cpp
Labels: engine/timing, enhancement

#432 Fix music fading being completely broken
  src/aomusicplayer.cpp
Labels: bug
