Repository AttorneyOnline/AO2-Client, pull requests merged in 2022-07, with the labels that each got.

#774 Add Emote preview
  include/aoemotepreview.h
  include/courtroom.h
  src/aoemotepreview.cpp
  src/courtroom.cpp
  src/emotes.cpp
Labels: enhancement, engine/assets, engine/viewport

#810 Change FL variable names for clarity
  include/aoapplication.h
  src/aooptionsdialog.cpp
  src/courtroom.cpp
  src/packet_distribution.cpp
Labels: internal

#812 Fix multiple issues with screenshake code
  include/courtroom.h
  src/courtroom.cpp
Labels: bug, engine/viewport

#822 Android hdid
  include/hardware_functions.h
  src/hardware_functions.cpp
Labels: bug, enhancement

#819 Make lambda captures of 'this' explicit
  src/aobutton.cpp
  src/aoimage.cpp
  src/aooptionsdialog.cpp
  src/courtroom.cpp
Labels: internal

#714 Fix iniswaps.ini and soundlist.ini not using vpath
  src/courtroom.cpp
Labels: engine/assets

#825 Fix weird evidence image behavior if mounted path is next to base folder and starts with "base"
  src/evidence.cpp
Labels: bug, engine/assets

#826 Fix Lobby forcing you from Favorites if you switched from the Serverlist before it was populated
  src/lobby.cpp
Labels: bug, ui

#818 Fix or suppress compiler warnings (Qt 5.15 w/MinGW)
  include/courtroom.h
  src/courtroom.cpp
  src/demoserver.cpp
  src/discord_rich_presence.cpp
  src/networkmanager.cpp
Labels: internal

#835 Added server list context menu, ...
  include/aoapplication.h
  include/lobby.h
  src/aoapplication.cpp
  src/lobby.cpp
  src/text_file_functions.cpp
Labels: enhancement, ui

#776 Add "edit" and "open folder" actions for dropdowns
  include/aooptionsdialog.h
  include/courtroom.h
  src/aooptionsdialog.cpp
  src/charselect.cpp
  src/courtroom.cpp
Labels: enhancement, engine/assets
